# dependencies
/node_modules

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE files
.vscode/
.idea/

# cache
.cache/
.parcel-cache/

# coverage
/coverage

# Netlify
.netlify

# Vite
vite.svg

# temporary files
*.tmp
*.temp